@model ReelTalk.Models.ProductionWithComments
@{List<ReelTalk.Data.Comment> comments = Model.Comments;}

@{
    Layout = "_Layout";
}

<div class="container bg-lighter-purple" style="border-radius: 12px">
    <div class="d-flex gap-4 align-items-end p-4">
        <div class="card border-0 bg-transparent" style="width:200px;">
            <img src="@Model.Production.ImagePath"
                 class="rounded-3 shadow"
                 alt="@Model.Production.Title" />
        </div>
        <div class="d-flex flex-column pb-1">
            <h2>@Model.Production.Title</h2>
            <div class="d-flex gap-3 align-items-center">
                <a href="" class="btn btn-secondary">Watch trailer</a>
                <form asp-controller="Watchlists" asp-action="AddToWatchlist">
                    <input type="hidden" name="productionId" value="@Model.Production.Id" />
                    <button type="submit" class="btn btn-outline-secondary btn-sm rounded-circle bg-transparent">
                        <i class="bi bi-heart fs-5"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-between p-5 gap-5">
    <div>
        <p>@Model.Production.Description</p>
        <h2>Reviews</h2>
        <p>Review goes here</p>
    </div>
    <div class="d-flex flex-column" style="min-width: 10rem; flex-shrink: 0;">
        <h2>About</h2>
        <div>
            <h3>Director</h3>
            <p>Director goes here</p>
        </div>
        <div>
            <h3>Release date</h3>
            <p>@Model.Production.ReleaseYear</p>
        </div>
        <div>
            <h3>Duration</h3>
            <p>@Model.Production.Duration</p>
        </div>
        <div>
            <h3>Genres</h3>
            <p>@(Model.Production.Genre?.Name ?? "No Genre Specified")</p>
        </div>
    </div>
</div>

<!-- Comments Section -->
<div class="me-5 ms-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h3>Comments (@comments.Count)</h3>
    </div>

    <!-- Comment Form -->
    <div class="comment-form">
        <h5 class="mb-3">Add Your Comment</h5>
        <form asp-action="PostComment">
            <div class="mb-3">
                <textarea asp-for=Comment.Content class="form-control" rows="4" placeholder="What did you think about this movie?"></textarea>
            </div>
            <input type="hidden" value="@Model.Production.Id" asp-for="@Model.Comment.ProductionId" />  
            <div class="d-flex justify-content-end align-items-center">
                <button type="submit" class="btn btn-primary">Post Comment</button>
            </div>            
        </form>
    </div>
    @if (comments.Count != 0)
    {
        foreach (var comment in comments.OrderByDescending(c => c.CreatedDate))
        {
            <!-- Comments List -->
            <div class="comments-list">
                <div class="comment">
                    <div>
                        <h6 class="mb-1">@comment.User?.UserName</h6>
                        <small class="comment-meta mb-2">It was posted on @comment.CreatedDate.ToString("MMMM dd, yyyy")</small>
                    </div>

                    <p>@comment.Content</p>
                </div>
            </div>
        }
    }
</div> <br />

<!--Only if admin-->
<div class="container pb-5 mb-3 d-flex gap-3">
    @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Production?.Id">Edit</a>
        <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.Production?.Id">Delete</a>
    }
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}