@model IEnumerable<ReelTalk.Data.Genre>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="text-white m-4">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="text-white">
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-white">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="text-white">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
